.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
	height:1px;
	overflow:hidden;
	font-size:1px;
}
.hide{
	display:none;
	visibility:hidden;
}
.clearfix:after{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.twocols:after{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.twocols {
	display: inline-block;
	clear:both;	
}
/* Hides from IE-mac \*/
* html .twocols {height: 1%;}
.twocols {display: block;}
/* End hide from IE-mac */

.twocols .leftcol{
	float:left;
}
.twocols .rightcol{
	float:right;
	text-align:left;
}