.slider,
.slider-wrapper{
	width:738px;
	overflow:hidden;
	background:url(../img/bg_slider.gif) repeat-x left bottom;
	height:250px;
	position:relative;
	float:left;
}
	.slider-wrapper ul{
		margin-left:66px;
		width: 32700px;
		list-style: none;
		position: absolute;
		top: 0;
		left: 0;	
	}
	.slider-wrapper li{
		display: block;
		float: left;
		padding: 0;
		height: 250px;
		width: 606px;
		margin: 0;
		color:#FFFFFF;	
	}	
	.slider .back,	
	.slider .forward{
		height:250px;
		top:0px;
		left:0px;
		position:absolute;
		background:url(../img/bg_slider.gif) no-repeat left top;
		width:66px;
	}
	.slider .forward{
		left:auto;
		right:0;
		background-position:right -250px;
	}	
		.slider .back a,
		.slider .back a:hover,
		.slider .forward a,
		.slider .forward a:hover{
			display:block;
			background:url(../img/bg_slider_buttons.gif) no-repeat left top;
			height:52px;
			width:52px;
			overflow:hidden;
			margin-left:14px;
			margin-top:100px;
			text-decoration:none;
			cursor:pointer;
		}
		.slider .back a{
			background-position:left -52px;
		}
		.slider .forward a,
		.slider .forward a:hover{
			margin-left:0px;
			margin-right:14px;
			background-position:left -104px;
		}
		.slider .forward a{
			background-position:left bottom;
		}
	.slider #start-stop{
		display:none;
	}
	.slider #thumbNav{
		position:absolute;
		bottom:13px;
		text-align:center;
		width:738px;
		left:0px;
	}
		.slider #thumbNav .cur,
		.slider #thumbNav .cur:hover,
		.slider #thumbNav a,
		.slider #thumbNav a:hover{
			display:inline-block;
			background:url(../img/bg_slider_progress.gif) no-repeat left top;
			width:12px;
			height:12px;
			overflow:hidden;
			margin-right:10px;
		}
		.slider #thumbNav a{
			background-position:left bottom;
		}		